*.csv
*.exe
*.gif
*.gz
*.log
*.mod
*.nc
*.o
*.pyc
*.png
*.so
*.tar
.ipynb_checkpoints
20190723/
20200417/
20200417_HWT_mode/
ADCIRC/
arch/
ascat/
atcf/archive
atcf/Barry2019
atcf/Hermine2016
atcf/Harvey2017
atcf/Nate2017
atcf/Irma2017
atcf/Michael2018
bin/
biswas/
build
cosmic/
fiorino/
GEMPAK7
GFS
grib2_test/
hagelslag/
HPSS/imagearchive
hwrf-utilities/
hwrfrun/
include/
lib/
lib64/
loken.eric/
20190627/
man/
MANIFEST
MesoPy/
METplus
METv*
met-*
met9
mpas_plots/
mpex/
mwong
NAWIPS
NSC_objects
NSC
old/
pngquant/
py2
rmse_comparisons
RIP/
SHARPpy/
share/ibtracs/
share/NSC/
share/ST4
share/VSE/
share/vdatum/
src/
trier/
tracker_util*
tracking_gfdl/
VSE_pbl/
*.tar.gz
atcf/Michael2018.adeck_HollandB_scale_Vmax_balance_Pmin
atcf/Michael2018.adeck_scale_Vmax_HollandB_balance_Pmin
atcf/Michael2018.origmesh.scaled_Vmax.balanced_Pmin.delta_adjusted_Pmin
atcf/Michael2018.origmesh_scale_Vmax_HollandB_balance_Pmin
atcf/Michael2018.origmesh_wind_radii_method_95percentile.scale_Vmax_HollandB_balance_Pmin
atcf/Michael2018.origmesh.Knaff_Zehr_Pmin/
atcf/Michael2018.origmesh_scale_Vmax.Knaff_Zehr_Pmin/
