*.png
*.gif
*.mod
*.o
*.so
*.exe
*.log
.ipynb_checkpoints
ADCIRC/
arch/
bin/
cosmic/
ECMWF/
fiorino/
include/
lib/
lib64/
man/
METv*
met-*
mpas_plots/
old/
share/
src/
skewt/
trier/
tracker_util*
tracking_gfdl/
