*.png
*.gif
*.gz
*.mod
*.o
*.so
*.exe
*.log
*.tar
.ipynb_checkpoints
ADCIRC/
arch/
atcf/
bin/
biswas/
cosmic/
ECMWF/
fiorino/
grib2_test/
gfdl-vortextracker*
hagelslag/
hwrf-utilities/
hwrfrun/
include/
lib/
lib64/
man/
METv*
met-*
mpas_plots/
mpex/
my_python_ncar/
old/
RIP/
share/
SHARPpy/
src/
skewt/
trier/
tracker_util*
tracking_gfdl/
